<launch>

  <include file="$(find iai_donbot_bringup)/launch/camera-12mp.launch">
    <arg name="transmission_delay" value="0"/>
  </include>

  <include file="$(find iai_donbot_bringup)/launch/d435.launch">
    <arg name="transmission_delay" value="0"/>
  </include>

  <include file="$(find iai_ringlight_controller)/launch/iai_ringlight_service.launch"/> 

</launch>
