<launch>
  <include file="$(find wsg_50_driver)/launch/wsg_50_tcp.launch">
    <arg name="ip" value="192.168.102.63"/>
    <arg name="grasping_force" value="20"/>
    <arg name="js_topic" value="~joint_states"/>
    <arg name="finger_joint_name" value="gripper_joint"/>
    <arg name="reference_frame" value="gripper_tool_frame"/>
    <arg name="rate" value="30"/>
    <arg name="gripper_name" value="gripper"/>
  </include>
</launch>
