<?xml version="1.0"?>
<launch>

   <!-- This lauch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_name" default="kmr-iiwa"/>

  <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find iai_kmr_iiwa_description)/urdf/kmr_iiwa_with_odom_joints.urdf.xacro'
      hardware_interface:=$(arg hardware_interface)
      robot_name:=$(arg robot_name)" />
</launch>
