<?xml version="1.0"?>
<robot name="kmr_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find kmr_iiwa_description)/urdf/materials.xacro" /> -->
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find kmr_iiwa_description)/urdf/kmr_iiwa.xacro"/>
  
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="kmr_iiwa"/>

  <!--iiwa-->
  <xacro:kmr_iiwa hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)">
  </xacro:kmr_iiwa>

</robot>
