<?xml version="1.0"?>
<launch>

  <include file="$(find iai_kmr_iiwa_bringup)/launch/base.launch"/>

  <include file="$(find iai_kmr_iiwa_bringup)/launch/iiwa.launch"/>

  <include file="$(find iai_kmr_iiwa_bringup)/launch/giskardpy_kmr_iiwa_real.launch"/>

  <include file="$(find iai_kmr_iiwa_bringup)/launch/cameras.launch"/>

  <!-- <include file="$(find barcode_finder)/launch/barcode_finder.launch"/> -->
  <!-- <include file="$(find separator_marker_detector)/launch/detector.launch"/> -->

</launch>
