<launch>

  <param name="giskard/robot_description" command="$(find xacro)/xacro '$(find iai_kmr_iiwa_description)/urdf/kmr_iiwa_with_odom_joints.xacro'" />

  <node pkg="giskardpy" type="base_joint_state_publisher.py" name="base_joint_state_publisher" output="screen">
    <remap from="/base_odometry/odom" to="/odom"/>
    <param name="use_pose_with_covariance" value="False" />
  </node>

  <node pkg="topic_tools" name="remap_joint_states" type="relay" args="joint_states body/joint_states"/>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="giskard_joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - base/joint_states
    - body/joint_states
    </rosparam>
    <rosparam param="zeros">
    'odom_x_joint': 0.0
    'odom_y_joint': 0.0
    'odom_z_joint': 0.0
    </rosparam>
    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>
    <remap from="joint_states" to="giskard/joint_states"/>
    <remap from="robot_description" to="giskard/robot_description"/>
  </node>

  <node pkg="giskardpy" type="joint_trajectory_splitter.py" name="joint_trajectory_splitter" output="screen">
    <rosparam param="state_topics">
      - /whole_body_controller/base/state 
      - /iiwa/PositionJointInterface_trajectory_controller/state
    </rosparam>
    <rosparam param="client_topics">
      - /whole_body_controller/base/follow_joint_trajectory
      - /iiwa/PositionJointInterface_trajectory_controller/follow_joint_trajectory
    </rosparam>
  </node>

  <arg name="gui" default="false" />

  <node pkg="giskardpy" type="giskard_trees.py" name="giskard" output="screen">
    <param name="path_to_data_folder" value="$(find giskardpy)/data" />
    <param name="enable_gui" value="$(arg gui)"/>
    <rosparam command="load" file="$(find giskardpy)/config/kmr_iiwa.yaml"/>
    <remap from="/joint_states" to="/giskard/joint_states"/>
    <remap from="robot_description" to="giskard/robot_description"/>
    <!-- <remap from="/whole_body_controller/follow_joint_trajectory/" to="/whole_body_controller/follow_joint_trajectory/base/"/> -->
    <!-- <remap from="~state" to="/whole_body_controller/base/state"/> -->
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom, base_link]
      - [base_link, gripper_tool_frame]
    </rosparam>
  </node>

  <!-- <include file="$(find iai_kmr_iiwa_bringup)/launch/omni_pose_follower.launch"/> -->
  <include file="$(find base_controller)/launch/base_controller_kmr_iiwa.launch"/>

</launch>
