<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="kmr" params="robot_name">

  <!--   <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint> -->

    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kmr_iiwa_description/meshes/kmp200_3ds_export.dae"/>
        </geometry>
        <material name="Grey"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kmr_iiwa_description/meshes/kmp200_export.stl"/>
        </geometry>
        <material name="Grey"/>
      </collision>
    </link>

    <joint name="back_laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="back_laser"/>
      <origin xyz="-0.464 0.256 0.140" rpy="0.000 -0.000 2.356"/>
    </joint>

    <link name="back_laser"/>

    <joint name="front_laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="front_laser"/>
      <origin xyz="0.464 -0.256 0.140" rpy="0.000 0.000 -0.785"/>
    </joint>

    <link name="front_laser"/>

  </xacro:macro>

</robot>
